body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* AliceBlue */
    color: #333;
}

header {
    background-color: #007acc; /* Medium Blue */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

section {
    padding: 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #00509e; /* Darker Blue */
}

#about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background-color: #e6f7ff; /* Light Blue */
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #b3d9ff; /* Light Blue Border */
}

.project {
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 10px;
}

#resume a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007acc; /* Medium Blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#resume a:hover {
    background-color: #00509e; /* Darker Blue */
}

#contact p {
    font-size: 1.2em;
}
